@{
    ViewData["Title"] = "Bird Data";
}

<div class="text-center">
    <h1 class="display-4">Dash Board</h1>
    <p>Ebird Data from the dates of 6/11 to 6/25</p>
    <iframe title="BirdsData" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=cd885e8c-d3e8-4019-9178-7482640b4d03&autoAuth=true&ctid=5a6dc059-5067-416e-af81-4b579d900323" frameborder="0" allowFullScreen="true"></iframe>
</div>
