@{
    ViewData["Title"] = "Partners";
}
<h1>@ViewData["Title"]</h1>

<h2>BirdsNearYou is proudly powered by:</h2>

<h4><a href="https://ebird.org/home" target="_blank">Ebird</a>: A wildlife database who provides all of the bird data displayed on the site.</h4>

<h4><a href="https://leafletjs.com/" target="_blank">Leaflet</a>: A JavaScript framework that provided the map used to display the sites data.</h4>

<h4><a href="https://www.flickr.com/" target="_blank">Flicker</a>: A media website who provides all of the bird images used on the site.</h4>

<style>
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
        line-height: 1.6;
    }

    h1 {
        color: #333;
    }

    h2 {
        color: #666;
    }

    h4 {
        margin: 20px 0;
    }

    h4 a {
        color: #337ab7;
        text-decoration: none;
    }

    h4 a:hover {
        color: #23527c;
        text-decoration: underline;
    }
</style>
